<div class="container-fluid" *ngIf="status=='success'">
    <app-menu></app-menu>
    <div class="col-xs-12 col-xl-12">
        <img src="../../../assets/img/fondo3.png" alt="" class="position-fixed" id="ImagenFondo1">
 </div>

  <div class="container">
      <div *ngIf="projects=='' &&  status=='success'">
          <a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']" >
            <img src="../../../assets/img/NoFiles.png" id='needlogin' alt="Need Login"></a>
        </div>
  <div *ngIf="projects">
      <div class="row">
          <div class="col-xs-4 float-left">
                  <!--Card-->
                      <div class="card" *ngFor="let project of projects | paginate:page_size:page_number"> 
                          <!--Card image-->
                          <img src="{{url+'get-image/'+project.image}}" *ngIf="project.image" class="ProjectImage" />
                      
                          <!--Card content-->
                          <div class="card-body">
                              <!--Title-->
                              <h4 class="card-title">{{project.name}}</h4>
                              <!--Text-->
                              <p class="card-text">{{project.category}} - {{project.visibility}} - {{project.year}}</p>
                              <p class="card-text" maxlength="2">{{project.description}}...</p>
                              <img id="starsP" *ngIf="project.TotalAssessments >=1 && project.TotalAssessments <1.5" src="../../../assets/img/Starts/1.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=1.5 && project.TotalAssessments <2" src="../../../assets/img/Starts/1-5.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=2 && project.TotalAssessments <2.5" src="../../../assets/img/Starts/2.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=2.5 && project.TotalAssessments <3" src="../../../assets/img/Starts/2-5.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=3 && project.TotalAssessments <3.5" src="../../../assets/img/Starts/3.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=3.5 && project.TotalAssessments <4" src="../../../assets/img/Starts/3-5.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=4 && project.TotalAssessments <4.5" src="../../../assets/img/Starts/4.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=4.5 && project.TotalAssessments <5" src="../../../assets/img/Starts/4-5.png" alt="">
                              <img id="starsP" *ngIf="project.TotalAssessments >=5" src="../../../assets/img/Starts/5.png" alt="">
                              <br/>
                              <a href="#" class="btn btn-primary" [routerLink]="['/mi-proyecto', project._id]">Más Información</a>
                          </div>
                      </div>
                  <!--/.Card-->
                  </div>
                  <br/>
                  <div *ngIf="projects!='' &&  status=='success'">
                  <mat-paginator   id="paginador" [length]="projects.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
                </div>
          </div>        
    </div>
</div>
</div>  
<div class="container-fluid" *ngIf="status!='success'">
     <app-menu></app-menu>
         <div class="col-xs-12 col-xl-12">
          <img src="../../../assets/img/fondo3.png" alt="" class="position-fixed" id="ImagenFondo1">
         <a [routerLink]="['/login']" [routerLinkActive]="['actived']" >
          <img src="../../../assets/img/login.png" alt="Need Login"></a>
  </div>
</div>
